@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(../images/front.jpg) no-repeat ;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	opacity: 80%;
	top: 0;
	left: 0;
	background: rgb(2, 27, 63);
}
.navbar .logo{
	width: 140px;
	height: 80px;
	padding: 0px 70px;
}
.navbar .logo2{
	    width: 100px;
		height: 100px;
		background: repeat 0 0;
		position: relative;
		animation: myfirst 3s infinite;
		animation-timing-function: linear;
	transform: rotate(270deg);
	width: 70px;
	height: 80px;
	padding: 0px 0px;
}
@keyframes myfirst {
	0%   {background: none; left: 0px; top: 0px;}
	100%  {background: none; left: 400px; top: 0px;}
  
  }
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: gold;
	border: 3px solid black;
	border-radius: 20px ;
	box-shadow: 0px 0px 15px;
	padding: 6px 13px;
	text-decoration:none;
	transition: .8s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	color:black;
	background-color: aqua;
	box-shadow: 0 0 2px cyan,
	0 0 2px cyan, 0 0 5px cyan,
	0 0 15px cyan, 0 0 25px cyan;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-60%, -55%);
	font-family: sans-serif;
	user-select: none;
}
.center h2{
	color: rgb(243, 187, 18);
	font-size: 70px;
	font-weight: bold;
	margin-top: 100px;
	width: 880px;
	text-align: center;
	padding: 0px 35px;
}
.center .buttons{
	margin: 70px 300px;
}
.buttons button{
	height: 60px;
	width: 150px;
	font-size: 20px;
	font-weight: 600;
	color: gold;
	background:rgb(2, 27, 63);
	outline: none;
	cursor: pointer;
	border: 3px solid cyan;
	border-radius: 45px;
	opacity: 70%;
	transition: .8s;
	box-shadow: 0 0 2px cyan,
	0 0 2px cyan;
}
.buttons button:hover{
	color:black;
	background-color: aqua;
	box-shadow: 0 0 2px cyan,
	0 0 2px cyan, 0 0 5px cyan,
	0 0 15px cyan, 0 0 25px cyan;
}
.space{
	width: 30px;
	height: auto;
	display: inline-block;
}