@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(../images/front.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	opacity: 100%;
	top: 0;
	left: 0;
	background: rgb(8, 11, 11);
}
.navbar .logo{
	width: 140px;
	height: 80px;
	padding: 0px 70px;
}
.navbar .logo2{
	    width: 100px;
		height: 100px;
		background: repeat 0 0;
		position: relative;
		animation: myfirst 3s infinite;
		animation-timing-function: linear;
	transform: rotate(270deg);
	width: 70px;
	height: 80px;
	padding: 0px 0px;
}
@keyframes myfirst {
	0%   {background: none; left: 0px; top: 0px;}
	100%  {background: none; left: 400px; top: 0px;}
  
  }
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: gold;
	border: 3px solid gold;
	border-radius: 20px ;
	box-shadow: 0px 0px 15px;
	padding: 6px 13px;
	text-decoration:none;
	transition: .5s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background:repeating-linear-gradient(gold,black,black,gold);
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 70%;
	top: 65%;
	transform: translate(-60%, -55%);
	font-family: sans-serif;
	user-select: none;
}
.center h2{
	color: gold;
	font-size: 70px;
	font-weight: bold;
	margin-top: 100px;
	width: 880px;
	text-align: right;
	padding: 5px 35px;
}
.center .buttons{
	margin: 70px 300px;
}
.buttons button{
	height: 60px;
	width: 150px;
	font-size: 20px;
	font-weight: 600;
	color: gold;
	background:black;
	outline: none;
	cursor: pointer;
	border: 3px solid gold;
	border-radius: 35px;
	box-shadow: 0px 0px 15px;
	transition: .5s;
}
.navbar a .btn{
	border: 20px;
	font-size: 30px;
	text-decoration: none;
	background-color: whitesmoke;
	color:black;
	background-size:15px;
  }
  .btn:hover{
	background-color: black;
	color:white;
  }
.buttons button:hover{
	background: repeating-linear-gradient(gold,black,black,gold);
}
.space{
	width: 30px;
	height: auto;
	display: inline-block;
}